body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f5dceb, #e3c5d9);
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #a46b9a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #9f5a8d;
}